.footer{
    background: linear-gradient(to bottom right, #269942, #2d9486, #0775f3);
    height: 40vh;
    width: 100%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerContainer{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    color: white;
    gap: 50px;
}
.titulo{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.contato{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contato a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #28679b;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;

}
.contato a:hover {
    transform: scale(1.05);
}
.descricao{
    font-size: 1.2rem;
    color: #fff;
    max-width: 1000px;
    text-align: center;
}
.assinatura{
    background-color: #0f1f2c;
    height: 6vh;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: rgb(184, 184, 184);    
}
