.containerFilho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    height: 100%;
    margin: auto;
}
.Titulo{
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(12, 119, 105);
    text-align: center;
    margin: 2rem;
}
.containerSobre{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.containerImagem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.gifEsquerda {
    align-self: flex-start;
    width: 120px;
    max-width: 100%;
}
.gifCentro {
    align-self: center;
    width: 120px;
    max-width: 100%;
}

.gifDireita {
    align-self: flex-end;
    width: 120px;
    max-width: 100%;
}
.containerTexto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgb(63, 63, 65);
}